@{
    ViewData["Title"] = "Home Page";
}
@model List<Category>
<div class="text-center">
    <h1><a href="/products">PRODUCTS</a> | CATEGORIES</h1>
    <div>
        <partial name="_AddCat" model="new ProdCatViewModel {}"/>
    </div>
    <div>
        <div>
            <h2>Existing Categories</h2>
            <br>
            <ul>
                @foreach (Category c in Model)
                {
                    <a href="/categories/@c.CategoryId"><li>@c.CatName</li></a>
                }
        </div>
    </div>
</div>